
<div class="container">
  <h1>all Postsed data</h1>
  <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search posts..." />
  <table>
    <thead>
      <tr>
        <th (click)="onSort('id')">ID</th>
        <th (click)="onSort('title')">Title</th>
        <th (click)="onSort('body')">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of filteredPosts | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
